<h1><strong>Longest Word Game</strong></h1>

<ul>
  <% @rand_letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="score" placeholder="Write longest word!">
  <input type="submit" value="Validate!">
</form>
